<a href="https://colab.research.google.com/github/HubertMalinowski/DataProcessing/blob/main/Data_Analysis_with_SQL_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis with SQL and Pandas

In this notebook, we will analyze a simplified dump of anonymized data from the website [Travel Stack Exchange](https://travel.stackexchange.com). This data is part of a larger dataset available at [Archive.org](https://archive.org/details/stackexchange), which includes several data frames:

- `Posts.csv.gz`
- `Users.csv.gz`
- `Comments.csv.gz`
- `PostLinks.csv.gz`

Before starting the tasks, please familiarize yourself with the data and its structure. More details about what information each column represents can be found in the [README](https://archive.org/27/items/stackexchange/readme.txt) file.

**Important Note:** You need to download the above files and place them in the directory where this notebook is located to ensure the code runs correctly.

## Setup

First, let's import the necessary libraries and load the data. We are using Pandas to handle our data in Python, and SQLite3 for SQL operations, because SQLite3 allows us to create a memory-resident database which we can use for our SQL operations without needing a server.

In [111]:
import pandas as pd
import numpy as np
import sqlite3

# Load the data
Posts = pd.read_csv('Posts.csv.gz', compression='gzip')
Users = pd.read_csv('Users.csv.gz', compression='gzip')
Comments = pd.read_csv('Comments.csv.gz', compression='gzip')
PostLinks = pd.read_csv('PostLinks.csv.gz', compression='gzip')

## Import Custom Solutions

We have defined a module Malinowski_Hubert_PD2.py that contains all our analysis functions. Let's import those.

In [112]:
from solutions import solution_1, solution_2, solution_3, solution_4, solution_5

## Task 1: Analyze Locations

The first task focuses on finding the top 10 locations by post count where the location field is not empty.

In [113]:
sql_result, pandas_result = solution_1(Posts, Users)
print("SQL Result:")
print(sql_result)
print("\nPandas Result:")
print(pandas_result)

# Check if results are consistent and print the appropriate message
if sql_result.equals(pandas_result):
    print("Results are consistent!")
else:
    print("Results are inconsistent!")

SQL Result:
                        Location  Count
0      Christchurch, New Zealand   2795
1                   New York, NY   1872
2         London, United Kingdom   1711
3                             UK   1707
4  Sunshine Coast QLD, Australia   1558
5                      Australia   1199
6                       Seat 21A   1056
7              Vancouver, Canada   1051
8                    Netherlands   1013
9                     London, UK    947

Pandas Result:
                        Location  Count
0      Christchurch, New Zealand   2795
1                   New York, NY   1872
2         London, United Kingdom   1711
3                             UK   1707
4  Sunshine Coast QLD, Australia   1558
5                      Australia   1199
6                       Seat 21A   1056
7              Vancouver, Canada   1051
8                    Netherlands   1013
9                     London, UK    947
Results are consistent!

## Task 2: Analyze Post Links

The second task aims to analyze the titles of posts and the number of related posts (links), sorting results by the number of links.

In [114]:
sql_result, pandas_result = solution_2(Posts, PostLinks)
print("SQL Result:")
print(sql_result)
print("\nPandas Result:")
print(pandas_result)

# Check if results are consistent and print the appropriate message
if sql_result.equals(pandas_result):
    print("Results are consistent!")
else:
    print("Results are inconsistent!")

SQL Result:
                                                  Title  NumLinks
0     Is there a way to find out if I need a transit...      1157
1     Do I need a visa to transit (or layover) in th...      1012
2     Should I submit bank statements when applying ...       669
3     UK visa refusal on V 4.2 a + c (and sometimes ...       523
4     Should my first trip be to the country which i...       461
...                                                 ...       ...
8094                uk visa refusal for mrcp paces exam         1
8095  what is the legal age to buy tobacco products ...         1
8096  what kind of hat would be most effective for r...         1
8097  which visa should i opt for (attending a confe...         1
8098  “Proof of legal status” for applying for a Chi...         1

[8099 rows x 2 columns]

Pandas Result:
                                                  Title  NumLinks
0     Is there a way to find out if I need a transit...      1157
1     Do I need a visa to transit (or layover) in th...      1012
2     Should I submit bank statements when applying ...       669
3     UK visa refusal on V 4.2 a + c (and sometimes ...       523
4     Should my first trip be to the country which i...       461
...                                                 ...       ...
8094                uk visa refusal for mrcp paces exam         1
8095  what is the legal age to buy tobacco products ...         1
8096  what kind of hat would be most effective for r...         1
8097  which visa should i opt for (attending a confe...         1
8098  “Proof of legal status” for applying for a Chi...         1

[8099 rows x 2 columns]
Results are consistent!

## Task 3: Analyze Comments

This task is to find the top 10 posts by total comments score, showing various details such as title, comment count, view count, and user information.

In [115]:
sql_result, pandas_result = solution_3(Comments, Posts, Users)
print("SQL Result:")
print(sql_result)
print("\nPandas Result:")
print(pandas_result)

# Check if results are consistent and print the appropriate message
if sql_result.equals(pandas_result):
    print("Results are consistent!")
else:
    print("Results are inconsistent!")

SQL Result:
                                               Title  CommentCount  ViewCount  \
0  Boss is asking for passport, but it has a stam...            24    61309.0
1  How to intentionally get denied entry to the U...            37    72856.0
2  Can I wear a bulletproof vest while traveling ...            26    23467.0
3  OK we're all adults here, so really, how on ea...            29   113001.0
4  Being separated from one's young children on a...            36    14308.0
5  Immigration officer that stopped me at the air...            24    22495.0
6  How to avoid toddlers on a long-distance plane...            18    29344.0
7                         Can I fly with a gold bar?            25    55450.0
8  How to book a flight if my passport doesn't st...            23    18029.0
9  Why don't airlines have backup planes just in ...            26    18809.0

   CommentsTotalScore    DisplayName  Reputation  \
0                 630          Megha        1679
1                 618      user11743        1997
2                 403         Ulkoma        9190
3                 388    hippietrail       75994
4                 358    Emma-louise         611
5                 345         DiegoJ        1273
6                 343  Silver Dragon         943
7                 333         Ulkoma        9190
8                 330          kukis         894
9                 328      clickbait         542

                        Location
0                           None
1                           None
2         London, United Kingdom
3  Sunshine Coast QLD, Australia
4                           None
5                   Buenos Aires
6   San Francisco, United States
7         London, United Kingdom
8             Sztokholm, Szwecja
9                           None

Pandas Result:
                                               Title  CommentCount  ViewCount  \
0  Boss is asking for passport, but it has a stam...            24    61309.0
1  How to intentionally get denied entry to the U...            37    72856.0
2  Can I wear a bulletproof vest while traveling ...            26    23467.0
3  OK we're all adults here, so really, how on ea...            29   113001.0
4  Being separated from one's young children on a...            36    14308.0
5  Immigration officer that stopped me at the air...            24    22495.0
6  How to avoid toddlers on a long-distance plane...            18    29344.0
7                         Can I fly with a gold bar?            25    55450.0
8  How to book a flight if my passport doesn't st...            23    18029.0
9  Why don't airlines have backup planes just in ...            26    18809.0

   CommentsTotalScore    DisplayName  Reputation  \
0                 630          Megha        1679
1                 618      user11743        1997
2                 403         Ulkoma        9190
3                 388    hippietrail       75994
4                 358    Emma-louise         611
5                 345         DiegoJ        1273
6                 343  Silver Dragon         943
7                 333         Ulkoma        9190
8                 330          kukis         894
9                 328      clickbait         542

                        Location
0                            NaN
1                            NaN
2         London, United Kingdom
3  Sunshine Coast QLD, Australia
4                            NaN
5                   Buenos Aires
6   San Francisco, United States
7         London, United Kingdom
8             Sztokholm, Szwecja
9                            NaN
Results are consistent!

## Task 4: Analyze User Activity

Task four identifies users with more answers than questions, ordered by the number of answers.

In [116]:
sql_result, pandas_result = solution_4(Posts, Users)
print("SQL Result:")
print(sql_result)
print("\nPandas Result:")
print(pandas_result)

# Check if results are consistent and print the appropriate message
if sql_result.equals(pandas_result):
    print("Results are consistent!")
else:
    print("Results are inconsistent!")

SQL Result:
   DisplayName  QuestionsNumber  AnswersNumber                   Location  \
0    Mark Mayo              344           1968  Christchurch, New Zealand
1        phoog               12           1690               New York, NY
2      Relaxed                8           1506                       None
3  lambshaanxy              117           1466                       None
4     Crazydre              172           1163                       None

   Reputation  UpVotes  DownVotes
0      157193    16082       1661
1      120317     8767        567
2       99185    11268        606
3       98555    15021        275
4       73180     2263        132

Pandas Result:
   DisplayName  QuestionsNumber  AnswersNumber                   Location  \
0    Mark Mayo              344           1968  Christchurch, New Zealand
1        phoog               12           1690               New York, NY
2      Relaxed                8           1506                        NaN
3  lambshaanxy              117           1466                        NaN
4     Crazydre              172           1163                        NaN

   Reputation  UpVotes  DownVotes
0      157193    16082       1661
1      120317     8767        567
2       99185    11268        606
3       98555    15021        275
4       73180     2263        132
Results are consistent!

## Task 5: Average Answers Count

The final task is to find the top 10 users by average answers count per post

In [117]:
sql_result, pandas_result = solution_5(Posts, Users)
print("SQL Result:")
print(sql_result)
print("\nPandas Result:")
print(pandas_result)

# Check if results are consistent and print the appropriate message
if sql_result.equals(pandas_result):
    print("Results are consistent!")
else:
    print("Results are inconsistent!")

SQL Result:
   AccountId      DisplayName           Location  AverageAnswersCount
0      280.0            csmba  san francisco, ca                 11.0
1    40811.0           vocaro       san jose, ca                 11.0
2      204.0             josh          australia                 10.0
3    44093.0    emma arbogast          salem, or                 10.0
4    11758.0         rvarcher  oklahoma city, ok                  9.0
5    19588.0       jd isaacks        atlanta, ga                  8.0
6    20473.0      jeremy boyd        houston, tx                  8.0
7    42364.0         petrogad               None                  8.0
8    54571.0        christian               None                  8.0
9    79346.0  thomas matthews         california                  8.0

Pandas Result:
   AccountId      DisplayName           Location  AverageAnswersCount
0      280.0            csmba  san francisco, ca                 11.0
1    40811.0           vocaro       san jose, ca                 11.0
2      204.0             josh          australia                 10.0
3    44093.0    emma arbogast          salem, or                 10.0
4    11758.0         rvarcher  oklahoma city, ok                  9.0
5    19588.0       jd isaacks        atlanta, ga                  8.0
6    20473.0      jeremy boyd        houston, tx                  8.0
7    42364.0         petrogad               None                  8.0
8    54571.0        christian               None                  8.0
9    79346.0  thomas matthews         california                  8.0
Results are consistent!